[submodule "estacao-climatica"]
    path = estacao-climatica
    url = https://github.com/isabellasantiago/estacao-climatica.git
[submodule "forms-eventos-requisicoes"]
    path = forms-eventos-requisicoes
    url = https://github.com/isabellasantiago/forms-eventos-requisicoes.git
[submodule "exercicios"]
    path = exercicios
    url = https://github.com/isabellasantiago/exercicios.git